#Media files downloaded by the user
videos/
pictures/

#File managed by the program
ntfc.py 

#For testing
image.png
testing.ipynb
richpresence.py
arts/

.ipynb_checkpoints/
__pycache__/
extensions/__pycache__/*
.venv/
.env


#misc
archived_extensions/test.py

extPlugins/__pycache__/*
extPlugins/test_plugins/apis.http
extPlugins/compile_test.py
extPlugins/plot_curves.py
extPlugins/reddit_api_test.py
botdb.db
db.py
archived_extensions/plotter.py

test.txt
botdb.db
logs/
extensions/smart.py
extensions/wordcloud.py
bebe.csv
nohup.out
